<div class="article-page">

    <div class="banner">
        <div class="container">

            <h1>{{currentArticle.title}}</h1>

            <div class="article-meta">
                <a [routerLink]="['/', 'profile', '@'+currentArticle.author.username]"><img
                        [src]="currentArticle.author.image" /></a>
                <div class="info">
                    <a [routerLink]="['/', 'profile', '@'+currentArticle.author.username]"
                        class="author">{{currentArticle.author.username}}</a>
                    <span class="date">{{currentArticle.createdAt | date:'MMMM dd, yyyy'}}</span>
                </div>

                <app-follow-user (click)="onFollow()" [username]="username" [following]="following"></app-follow-user>
                &nbsp;&nbsp;

                <app-favorite-post (click)="onFavorite()" [slug]="slug" [favoritesCount]="favoritesCount"
                    [favorited]="favorited"></app-favorite-post>
            </div>

        </div>
    </div>

    <div class="container page">

        <div class="row article-content">
            <div class="col-md-12">
                <div>
                    {{currentArticle.body}}
                </div>

                <ul class="tag-list" *ngIf="currentArticle.tagList.length > 0">
                    <li class="tag-default tag-pill tag-outline" *ngFor="let item of currentArticle.tagList">
                        {{item}}
                    </li>
                </ul>
            </div>
        </div>

        <hr />

        <div class="article-actions">
            <div class="article-meta">
                <a [routerLink]="['/', 'profile', '@'+currentArticle.author.username]"><img
                        [src]="currentArticle.author.image" /></a>
                <div class="info">
                    <a [routerLink]="['/', 'profile', '@'+currentArticle.author.username]"
                        class="author">{{currentArticle.author.username}}</a>
                    <span class="date">{{currentArticle.createdAt | date:'MMMM dd, yyyy'}}</span>
                </div>

                <app-follow-user (click)="onFollow()" [username]="username" [following]="following"></app-follow-user>
                &nbsp;&nbsp;

                <app-favorite-post (click)="onFavorite()" [slug]="slug" [favoritesCount]="favoritesCount"
                    [favorited]="favorited"></app-favorite-post>
            </div>
        </div>

        <div class="row">

            <div class="col-xs-12 col-md-8 offset-md-2">

                <app-form-comment *ngIf="isLogin" [slug]="slug"></app-form-comment>

                <p *ngIf="!isLogin" style="display: inherit;">
                    <a [routerLink]="['/', 'login']">Sign in</a> or <a [routerLink]="['/', 'register']">sign up</a> to add comments on this article.
                </p>

                <app-list-comment [slug]="slug"></app-list-comment>

            </div>

        </div>

    </div>

</div>