<div class="profile-page">

    <div class="user-info">
        <div class="container">
            <div class="row">

                <div class="col-xs-12 col-md-10 offset-md-1">
                    <img [src]="profileUser.image" [title]="profileUser.username" class="user-img" />
                    <h4>{{profileUser.username}}</h4>
                    <p>{{profileUser.bio}}</p>
                    <button class="btn btn-sm btn-outline-secondary action-btn" *ngIf="!myProfile">
                        <i class="ion-plus-round"></i>
                        &nbsp;
                        Follow {{profileUser.username}}
                    </button>
                    <a class="btn btn-sm btn-outline-secondary action-btn" routerLink="/settings" *ngIf="myProfile">
                        <i class="ion-gear-a"></i> Edit Profile Settings
                    </a>
                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">

            <div class="col-xs-12 col-md-10 offset-md-1">
                <div class="articles-toggle">
                    <ul class="nav nav-pills outline-active">
                        <li class="nav-item">
                            <a class="nav-link" (click)="changeListArticle('myArticle')" [ngClass]="{'active': currListArticle == 'myArticle'}" [routerLink]="['/','profile','@'+profileUser.username]">My Articles</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" (click)="changeListArticle('favorArticle')" [ngClass]="{'active': currListArticle == 'favorArticle'}" [routerLink]="['/','profile', '@'+profileUser.username, 'favorites']">Favorited Articles</a>
                        </li>
                    </ul>
                </div>

                <router-outlet></router-outlet>

            </div>

        </div>
    </div>

</div>